<div class="edition">

  <% provide(:title, 'Edit actor') %>

  <h1>Edit actor</h1>

  <%= form_with(model: @actor, local: true, html: {id: "edit-actor-form"}) do |form| %>

    <% if @actor.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@actor.errors.count, "error") %> prohibited
          this actor from being saved:
        </h2>
        <ul>
          <% @actor.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p class="validatable presence">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p class="validatable presence custom-function" data-function="validate_birthday">
      <%= form.label :birthday %><br>
      <%= form.text_field :birthday, :placeholder => 'dd.mm.yyyy' %>
    </p>

    <p>
      <%= form.submit 'update role', class: "btn btn-update"%>
    </p>

  <% end %>

  <section class="btn-besides-text">
    <p1>You don't want this actor anymore?</p1>

    <div class="btn btn-delete">
      <%= link_to 'delete', actor_path(@actor),
                  method: :delete,
                  data: {confirm: 'Are you sure?'} %>
    </div>
  </section>

  <a class="btn btn-back" href=<%= actor_path %>>
    back
  </a>

</div>