<div class="show">

  <h1><%= @actor.name %></h1>

  <div class="tab-bar">
    <a class="tablinks" data-theme="personal-data" data-default="default">Personal Data</a>
    <a class="tablinks" data-theme="filmography-data">Filmography</a>
    <a class="tablinks" data-theme="statistic">Statistics</a>
  </div>

  <section class="personal-data tabcontent">
    <h3>Personal data</h3>

    <p2>
      born on: <%= @actor.birthday %>
    </p2>

    <p2>
      age: <%= @actor.age %>
    </p2>
  </section>


  <section class="filmography-data tabcontent">

    <section class="btn-besides-text">
      <p3>Filmography</p3>

      <a class="btn btn-add btn-role" href=<%= new_role_path %>>
        add new role
      </a>

    </section>

    <table class="all-db-entries">
      <tr>
        <th>Movie</th>
        <th>Character</th>
      </tr>
      <%= render partial: 'layouts/list_roles_movies', locals: {:roles => @roles} %>
    </table>

  </section>

  <section class="statistic tabcontent">
    <h3>Statistics</h3>

    <table class="all-db-entries">
      <tr>
        <th>Year</th>
        <th>Number of movies acted in</th>
      </tr>
      <% @actor.employed.each do |year, times| %>
        <tr>
          <td>
            <%= year %>
          </td>
          <td>
            <%= times %>
          </td>
      <% end %>
      <td>
        total
      </td>
      <td>
        <%= @actor.total %>
      </td>
      </tr>
    </table>
  </section>

  <a class="btn btn-edit" href=<%= edit_actor_path(@actor.id) %>>
    edit
  </a>

  <a class="btn btn-back" href=<%= actors_path %>>
    back
  </a>

</div>
