<div class="show">

  <h1><%= @actor.name %></h1>

  <section class="personal-data">
    <h3>Personal data</h3>

    <p2>
      born on: <%= @actor.birthday %>
    </p2>

    <p2>
      age: <%= @actor.age %>
    </p2>
  </section>


  <section class="filmography-data">

    <section class="btn-besides-text">
      <p3>Filmography</p3>

      <div class="btn btn-add btn-role">
        <%= link_to 'add new role', new_role_path %>
      </div>
    </section>

    <table class="all-db-entries">
      <tr>
        <th>Movie</th>
        <th>Character</th>
      </tr>
      <%= render partial: 'layouts/list_roles_movies', locals: {:roles => @roles} %>
    </table>

    <section class="statistic">
      <h3>Statistics</h3>

      <table class="all-db-entries">
        <tr>
          <th>Year</th>
          <th>Number of movies acted in</th>
        </tr>
        <% @actor.employed.each do |year, times| %>
          <tr>
            <td>
              <%= year %>
            </td>
            <td>
              <%= times %>
            </td>
        <% end %>
        <td>
          total
        </td>
        <td>
          <%= @actor.total %>
        </td>
        </tr>
      </table>
    </section>

  </section>

  <div class="btn btn-edit">
    <%= link_to 'edit', edit_actor_path(@actor.id) %>
  </div>

  <div class="btn btn-back">
    <%= link_to 'back', actors_path %>
  </div>

</div>


<script>
    $(document).ready(function () {
        $(".btn-add").delay(4000).fadeOut(300).fadeIn(300).fadeOut(300).fadeIn(300);
        $(".statistic").hide(300).slideDown(3000);
    });

</script>