<div class="show">

  <h1><%= @actor.name %></h1>

  <section class="personal-data">
    <h3>Personal data</h3>

    <p2>
      born on: <%= @actor.birthday %>
    </p2>

    <p2>
      age: <%= @actor.age %>
    </p2>
  </section>


  <section class="filmography-data">

    <section class="btn-besides-text">
      <p3>Filmography</p3>

      <div class="btn btn-add btn-role">
        <%= link_to 'add new role', new_role_path %>
      </div>
    </section>

    <table class="all-db-entries">
      <tr>
        <th>Movie</th>
        <th>Character</th>
        <th></th>
        <th></th>
      </tr>
      <% @roles.each do |role| %>
        <tr>
          <td class="second-table-entry">
            <%= link_to Movie.find(role.movie_id).title, movie_path(role.movie_id) %>
          </td>
          <td class="third-table-entry">
            <%= link_to role.character, role_path(role) %>
          </td>
          <td class="edit-row">
            <%= link_to 'edit', edit_role_path(role.id) %>
          </td>
          <td class="delete-row">
            <%= link_to 'delete', role_path(role.id),
                        method: :delete,
                        data: {confirm: 'Are you sure?'} %>
          </td>
        </tr>
      <% end %>
    </table>

  </section>

  <div class="btn btn-edit">
    <%= link_to 'edit', edit_actor_path(@actor.id) %>
  </div>

  <div class="btn btn-back">
    <%= link_to 'back', actors_path %>
  </div>

</div>