<table class="all-db-entries">
  <%= form_for(@movie, html: {id: "edit-showtime-form"}) do |form| %>
    <p>Showtimes</p>

    <%= form.fields_for :showtimes do |showtimes_form| %>
      <error id="showtime-error"></error>
      <tr>
        <td class="validatable">
          <%= showtimes_form.label :cinema %>
          <%= showtimes_form.text_field :cinema %>
        </td>
        <td class="validatable">
          <%= showtimes_form.label :date %>
          <%= showtimes_form.text_field :date, :placeholder => 'dd.mm.yyyy' %>
        </td>
        <td>
          <%= showtimes_form.label :time %>
          <%= showtimes_form.text_field :time, :placeholder => 'hh:mm' %>
        </td>
        <td>
          <%= showtimes_form.check_box :_destroy %>
          <%= showtimes_form.label :_destroy, 'remove' %>
        </td>

    <% end %>

  <% end %>
  </tr>

</table>
