<div class="edition">

  <% provide(:title, 'Edit movie') %>

  <h1>Edit movie</h1>

  <%= form_with(model: @movie, local: true, html: {id: "edit-movie-form"}) do |form| %>

    <% if @movie.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@movie.errors.count, "error") %> prohibited
          this actor from being saved:
        </h2>
        <ul>
          <% @movie.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p id="title" class="validatable">
      <%= form.label :title %><br/>
      <%= form.text_field :title %>
      <error id="title-error"></error>
    </p>

    <p id="year" class="validatable">
      <%= form.label :year %><br/>
      <%= form.text_field :year, :placeholder => 'yyyy' %>
      <error id="year-error"></error>
    </p>

    <p id="genre">
      <%= form.label :genre %><br/>
      <%= form.select(:genre, options_for_select([['Action'], ['Drama'], ['Thriller'], ['Comedy'], ['Crime'], ['Fantasy']], selected: @movie.genre),{:include_blank => true})%>
    </p>

    <p id="trailer" class="validatable">
      <%= form.label :trailer %><br/>
      <%= form.text_field :youtube_trailer_url %>
      <error id="trailer-error"></error>
    </p>

    <p id="showtime">
      <%= render partial: 'edit_showtimes' %>
    </p>

    <p id="submit">
      <%= form.submit 'update movie', class: "btn btn-update" %>
    </p>

  <% end %>

  <section class="btn-besides-text">

    <p1>You don't want this movie anymore?</p1>
    <div class="btn btn-delete">
      <%= link_to 'delete', movie_path(@movie),
                  method: :delete,
                  data: {confirm: 'Are you sure?'} %>
    </div>

  </section>

  <a class="btn btn-back" href=<%= movie_path %>>
    back
  </a>
</div>