<div class="index">

  <% provide(:title, 'Movie list') %>
  <h1>Movies</h1>

  <%= form_tag(search_movies_path) do %>
    <p>
      <%= label_tag(:search, "Search movie:") %>
      <%= text_field_tag(:search) %>
      <%= submit_tag("Search") %>
    </p>
  <% end %>

  <p>See a list of all movies in the database:</p>

  <table class="all-db-entries, all-movies">
    <%= render partial: 'list_movies', locals: {:movies => @movies} %>
    <%#= render partial: 'layouts/universal_list', locals: {:array => @movies }%>
  </table>

  <a class="btn btn-add" href=<%= new_movie_path %>>
    add movie
  </a>

  <a class="btn btn-count">
    count movies
  </a>

</div>

<script>
    $(document).ready(function () {
        $(".btn-count").on('click', function () {
            var row_count = $(".all-movies").find("tr").length.toString();
            $(".btn-count").fadeOut(300).fadeIn(300);
            $(".btn-count").html(row_count);
        });
    });
</script>