<div class="index">

  <% provide(:title, 'Movie list') %>
  <h1>Movies</h1>

  <%= form_tag(search_movies_path) do %>
    <p>
      <%= label_tag(:search, "Search movie:") %>
      <%= text_field_tag(:search) %>
      <%= submit_tag("Search") %>
    </p>
  <% end %>

  <p>See a list of all movies in the database:</p>

  <table class="all-db-entries">
    <%= render partial: 'layouts/list_movies', locals: {:movies => @movies}%>
    <%#= render partial: 'layouts/universal_list', locals: {:array => @movies }%>
  </table>

  <div class="btn btn-add">
    <%= link_to "add movie", new_movie_path %>
  </div>

</div>