<div class="creation">

  <% provide(:title, 'Create movie') %>
  <h1>Create movie</h1>

  <%= form_for(@movie, html: {id: "new-movie-form"}) do |form| %>
    <%= render 'shared/movie_error_messages' %>

    <p id="title" class="validatable">
      <%= form.label :title %><br/>
      <%= form.text_field :title %>
      <error id="title-error">Title must be filled out</error>
    </p>

    <p id="year" class="validatable">
      <%= form.label :year %><br/>
      <%= form.text_field :year, :placeholder => 'yyyy' %>
      <error id="year-error"></error>
    </p>

    <p id="genre">
      <%= form.label :genre %><br/>
      <%= form.select(:genre, options_for_select([['Action'], ['Drama'], ['Thriller'], ['Comedy'], ['Crime'], ['Fantasy']], selected: @movie.genre), {:include_blank => true}) %>
    </p>

    <p id="trailer">
      <%= form.label :trailer %><br/>
      <%= form.text_field :youtube_trailer_url %>
    </p>

    <p id="showtime">
      <%= render partial: 'edit_showtimes' %>
    </p>

    <p id="submit">
      <%= form.submit "create movie", class: "btn btn-create" %>
    </p>

  <% end %>

  <a class="btn btn-back" href=<%= movies_path %>>
    back
  </a>

</div>