<div class="creation">

<% provide(:title, 'Create movie') %>
<h1>Create movie</h1>

<%= form_for(@movie) do |form| %>
  <%= render 'shared/movie_error_messages' %>

  <p>
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :year %><br />
    <%= form.text_field :year, :placeholder => 'yyyy' %>
  </p>

  <p>
    <%= form.label :genre %><br />
    <%= form.select(:genre, options_for_select([['Action'], ['Drama'], ['Thriller'], ['Comedy'], ['Crime'], ['Fantasy']]))%>
  </p>

  <p>
    <%= form.label :trailer %><br />
    <%= form.text_field :url %>
  </p>


  <%= form.submit "create movie", class: "btn btn-create" %>
<% end %>

  <div class="btn btn-back">
    <%= link_to 'back', movies_path %>
  </div>

</div>