<div class="show">

  <h1><%= @movie.title %></h1>

  <section class="movie-data">
    <h3>Details</h3>

    <p2>
      published: <%= @movie.year %>
    </p2>

    <p2>
      genre: <%= find_genre(@movie) %>
    </p2>
  </section>

  <section class="cast-information">

    <section class="btn-besides-text">
      <p3>Cast</p3>

      <div class="btn btn-add btn-role">
        <%= link_to 'add new role', new_role_path %>
      </div>
    </section>

    <table class="all-db-entries">
      <tr>
        <th>Actor</th>
        <th>Character</th>
      </tr>
      <%= render partial: 'list_roles_actor', locals: {:roles => @roles} %>
    </table>
  </section>

  <section class="showtime-information">
    <h3>Showtimes</h3>
    <table class="all-db-entries">

      <tr>
        <th>Cinema</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
      <%= render partial: 'list_showtimes', locals: {:showtimes => @showtimes} %>
    </table>

    <p>total shows <%= @movie.total_shows %></p>
  </section>


  <section class="trailer">
    <h3>Trailer</h3>
    <%= trailer(@movie) %>
  </section>

  <div class="btn btn-edit">
    <%= link_to 'edit', edit_movie_path(@movie.id) %>
  </div>

  <div class="btn btn-back">
    <%= link_to 'back', movies_path %>
  </div>

</div>