<div class="edition">

  <% provide(:title, 'Edit role') %>
  <h1>Edit role</h1>

  <%= form_with(model: @role, local: true, html: {id: "edit-role-form"}) do |form| %>

    <p class="select">
      <%= form.label :actor_id %><br/>
      <%= form.select(:actor_id, Actor.all.collect {|r| [r.name, r.id]}, {:include_blank => true}) %>
    </p>

    <p class="select">
      <%= form.label :movie_id %><br/>
      <%= form.select(:movie_id, Movie.all.collect {|r| [r.title, r.id]}, {:include_blank => true}) %>
    </p>

    <p class="validatable presence">
      <%= form.label :character %><br/>
      <%= form.text_field :character %>
    </p>

    <p id="submit">
      <%= form.submit 'update role', class: "btn btn-update"%>
    </p>

  <% end %>

  <section class="btn-besides-text">
    <p1>You don't want this role anymore?</p1>

    <div class="btn btn-delete">
    <%= link_to 'delete', role_path(@role.id),
                method: :delete,
                data: {confirm: 'Are you sure?'} %>
  </div>
    </section>

  <a class="btn btn-back" href=<%= role_path %>>
    back
  </a>

</div>