<div class="creation">

  <% provide(:title, 'Create role') %>
  <h1>Create role</h1>

  <%= form_for(@role, html: {id: "new-role-form"}) do |form| %>
    <%= render 'shared/role_error_messages' %>

    <p id="actor" class="select validatable">
      <%= form.label :actor_id %><br/>
      <%= form.select(:actor_id, Actor.all.collect {|r| [r.name, r.id]}, {:include_blank => true}) %>
      <error id="actor-error"></error>
    </p>

    <section class="btn-besides-text">
    <p1>
      Actor doesn't exist?
    </p1>
    <a class="btn btn-add btn-aside" href=<%= new_actor_path %>>
      add actor
    </a>
    </section>

    <p id="movie" class="select validatable">
      <%= form.label :movie_id %><br/>
      <%= form.select(:movie_id, Movie.all.collect {|r| [r.title, r.id]}, {:include_blank => true}) %>
      <error id="movie-error"></error>
    </p>

    <section class="btn-besides-text">
    <p1>
      Movie doesn't exist?
    </p1>

    <a class="btn btn-add btn-aside" href=<%= new_movie_path %>>
      add movie
    </a>
    </section>

    <p id="character" class="validatable">
      <%= form.label :character %><br/>
      <%= form.text_field :character %>
      <error id="character-error"></error>
    </p>

    <p id="submit">
      <%= form.submit "create role", class: "btn btn-create"%>
    </p>

  <% end %>

  <a class="btn btn-back" href=<%= roles_path %>>
    back
  </a>

</div>