<div class="creation">

  <% provide(:title, 'Create role') %>
  <h1>Create role</h1>

  <%= form_for(@role) do |form| %>
    <%= render 'shared/role_error_messages' %>

    <p class="select">
      <%= form.label :actor_id %><br/>
      <%= form.select(:actor_id, Actor.all.collect {|r| [r.name, r.id]}, {:include_blank => true}) %>
    </p>

    <section class="btn-besides-text">
    <p1>
      Actor doesn't exist?
    </p1>
    <div class="btn btn-add btn-aside">
      <%= link_to 'add actor', new_actor_path %>
    </div>
    </section>

    <p class="select">
      <%= form.label :movie_id %><br/>
      <%= form.select(:movie_id, Movie.all.collect {|r| [r.title, r.id]}, {:include_blank => true}) %>
    </p>

    <section class="btn-besides-text">
    <p1>
      Movie doesn't exist?
    </p1>

    <div class="btn btn-add btn-aside">
      <%= link_to 'add movie', new_movie_path %>
    </div>
    </section>

    <p>
      <%= form.label :character %><br/>
      <%= form.text_field :character %>
    </p>

    <p>
      <%= form.submit "create role", class: "btn btn-create"%>
    </p>

  <% end %>

  <div class="btn btn-back">
    <%= link_to 'back', roles_path %>
  </div>

</div>